@font-face {
  font-family: 'Adani';
  src: url('./fonts/adani.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adani';
  src: url('./fonts/adani.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
